body{
    font-family: 'Orbitron', cursive;
    background-color: black;
}

#content{
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /*CSS3 Solution for the always in the middle*/
    transform: translate(-50%,-50%);
}

#clock{
    font-size: 100px;
}

#clock2{
    font-size: 40px;
}

#clock3{
    font-size: 30px;
}